body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#background {
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
}

#lettersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.letter {
    width: 100px;
    height: 150px;
    background-size: cover;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.letter:hover {
    transform: scale(1.1); /* Vergrößerungseffekt */
}

#namePopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    display: none;
    z-index: 10;
}

#closePopup {
    margin-top: 10px;
}
